@import "../../styles/variables";
.login_page {
  text-align: center;
  margin: 30px auto;
  max-width: 600px;
  box-shadow: 0 10px 20px #0000001a;
  padding: 20px;
  border-radius: 8px;
  background-color: #f7f7f7;
  .title {
    color: $primary-color;
    font-size: 28px;
    text-align: center;
    // margin-bottom: 20px;
    font-weight: bold;
  }
  .SubTitle,
  .form-check-label,
  .formText {
    font-size: 14px;
    color: $primary-color;
    text-align: center;
    margin-bottom: 10px;
  }
  strong {
    font-weight: bold !important;
  }

  .form-floating {
    margin: 20px 0;
    background-color: white;
    border: 1px solid #707070;
    border-radius: 8px;
    //margin-top: 10px;
    height: 45px;
    padding: 0;
    &:focus,
    &:active {
      outline: 0;
      border: 1px solid #707070;
    }
    .formInput {
      height: 40px;
      min-height: 40px;
      color: $primary-color;
      border: 0;
      border-radius: 8px;
      font-size: 14px;
      font-weight: lighter;
      &:focus,
      &:active {
        outline: 0;
        border: 0;
        background-color: white !important;
        box-shadow: unset !important;
      }
    }
    label {
      font-size: 14px;
      color: #cdcdcd;
      padding: 10px;
    }
  }
  .frmBtn {
    border-radius: 34px;
    margin: 20px 0;
  }
  .form_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .errorTxt {
    color: red !important;
  }
}
