@import "../../styles//variables";

.result_list {
  .x_icon {
    color: red;
  }
  .check_icon {
    color: green;
  }
  .nav-tabs {
    border: 0;
  }
  .nav-item {
    margin-right: 10px;
  }
  .nav-link {
    background-color: #dddd;
    color: $primary-color;
    border: 0;
  }
  .nav-link.active {
    color: white;
    background-color: $primary-color !important;
    border: 0;
    color: white !important;
  }
  .tab-content {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    max-height: 400px;
    overflow-y: scroll;
  }
}
.AddEdit_form {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 6px;
  margin: 20px 0;
  //box-shadow: 0 4px 10px rgba(84, 45, 114, 0.5);
  transition: all 0.3s ease;
}
